/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- main --*/
.content {
    padding: 106px 0;
}
.content h1{
    color: #fff;
    font-size: 43px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Audiowide', cursive;
    text-transform:capitalize;
}
.main {
    width: 59%;
    margin: 97px auto;
}
p.copy_rights {
    color: #fff;
    font-size: 14px;
    text-align: center;
}
p.copy_rights a{
    text-decoration:none;
    color:#fff;
}
p.copy_rights a:hover{
    text-decoration:underline;
}
.subscribe{
    margin-top:3em;
}
.subscribe input[type="text"]{
    outline:none;
    padding:10px;
    border:1px solid #DFDFDF;
    font-size:1em;
    width:65%;
}
.subscribe input[type="submit"]{
	outline: none;
    padding: 11px 20px;
    border: none;
    background: #05BEF6;
    font-size: 1em;
    color: #fff;
    margin: 1em 0 0 0em;
    cursor:pointer;
    width:31%;
}
.subscribe input[type="submit"]:hover{
	background:#F39C12;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.subscribe h2 {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 1em;
	font-family: 'Montserrat', sans-serif;
}
.form {
    margin: 0 auto;
    width: 58%;
}
.result_type_radio_button_label {
    color: #fff;
    margin: 1em 0 0 0;
    position: relative;
    top: 2px;
}
.user_search_label{
    color: #fff;
    position: relative;
    bottom: 8px;
}
.keyword_search_label{
    color: #fff;
    position: relative;
    bottom: 8px;
}
/*-- responsive media queries --*/

@media (max-width: 1440px){
	.form {
		width: 59%;
	}	
}
@media (max-width: 1366px){
	.form {
		width: 62%;
	}	
}
@media (max-width: 1280px){
	.form {
		width: 67%;
	}	
}
@media (max-width: 1080px){
	.content {
		padding: 71px 0;
	}
	.content h1 {
		font-size: 36px;
	}
	.main {
		width: 66%;
		margin: 72px auto;
	}
	.subscribe h2 {
		font-size: 1.3em;
	}
	.form {
		width: 70%;
	}	
	body {
		min-height: 667px;
	}
}
@media (max-width: 1024px){
	.form {
		width: 75%;
		padding: 10px 20px 11px;
	}
	.subscribe input[type="submit"] {
	    width:34%;
		margin: 0em 0 0 0em;
	}	
	.subscribe h2 {
		margin-bottom: 2em;
	}
	.subscribe {
		margin-top: 4em;
	}
	.content h1 {
		font-size: 29px;
	}
}
/*-- w3layouts --*/

@media (max-width: 991px){
	.main {
		width: 81%;
	}
}
@media (max-width: 800px){
	.subscribe input[type="text"] {
		font-size: 13px;
		width: 64%;
	}
	.subscribe input[type="submit"] {
		padding: 10px 20px 11px;
		font-size: 14px;
	}
	.main {
		width: 86%;
		margin: 72px auto 49px;
	}
	p.copy_rights {
		font-size: 13px;
	}	
	.subscribe h2 {
		font-size: 1.2em;
	}
	body {
		min-height: 640px;
	}
}
@media (max-width: 768px){
	body {
		min-height: 930px;
	}
	.content {
		padding: 134px 0;
	}
	.main {
		margin: 100px auto 94px;
	}
	/*-- agileits --*/
	.subscribe {
		margin-top: 8em;
	}	
}
@media (max-width: 736px){
    .subscribe input[type="text"] {
		width: 61%;
	}
    .subscribe input[type="submit"] {
		width: 37%;
	}
	.content {
		padding: 76px 0;
	}
	.subscribe {
		margin-top: 5em;
	}
	body {
		min-height: 683px;
	}	
}
@media (max-width: 667px){
    .subscribe input[type="text"] {
		width: 61%;
	}
    .subscribe input[type="submit"] {
		width: 37%;
	}
	.content {
		padding: 52px 0;
	}
	.main {
		margin: 52px auto 94px;
	}
	.subscribe {
		margin-top: 2.5em;
	}
	.form {
		width: 78%;
	}
	.main {
		margin: 52px auto 52px;
	}
	body {
		min-height: 533px;
	}	
}
@media (max-width: 640px){
	.subscribe input[type="text"] {
		font-size: 13px;
		width: 59%;
	}
	.subscribe input[type="submit"] {
		width: 39%;
	}
}


/*-- w3layouts --*/
@media (max-width: 600px){
	.subscribe input[type="text"] {
		width: 56%;
	}
	.subscribe input[type="submit"] {
		width: 42%;
	}
}
@media (max-width: 568px){
	.subscribe input[type="text"] {
		width: 47%;
	}
	.subscribe input[type="submit"] {
		width: 51%;
	}
}
@media (max-width: 480px){
    .subscribe input[type="text"] {
		width: 51%;
	}
	.subscribe input[type="submit"] {
		width: 47%;
	}
	.content h1 {
		font-size: 25px;
	}
	.subscribe h2 {
		font-size: 1em;
	}
	.form {
		width: 95%;
	}	
	body {
		min-height: 464px;
	}
}
@media (max-width: 414px){
	.form {
		width: 100%;
	}
	.subscribe input[type="text"] {
		padding: 8px 10px;
	}
	.subscribe input[type="submit"] {
		padding: 8px 14px 9px;
		width: 40%;
	}	
	p.copy_rights {
		line-height: 1.8em;
	}
	body {
		min-height: 673px;
	}
	/*-- agileits --*/
	.content {
		padding: 95px 0;
	}
	.main {
		margin: 80px auto 74px;
	}
	.subscribe {
		margin-top: 4.5em;
	}
	.main {
		width: 93%;
	}
	.subscribe input[type="text"] {
		width: 58%;
	}
}
@media (max-width: 384px){
	p.copy_rights {
		width: 95%;
		margin: 0 auto;
	}
	.subscribe input[type="text"] {
		width: 57%;
	}
	.subscribe input[type="submit"] {
		width: 41%;
	}
	.content {
		padding: 61px 0;
	}
	body {
		min-height: 605px;
	}	
}
@media (max-width: 375px){
	.content h1 {
		font-size: 23px;
	}
	.subscribe input[type="text"] {
		width: 48%;
	}
	.subscribe input[type="submit"] {
		width: 50%;
	}
}
@media (max-width: 320px){
	.content h1 {
		font-size: 20px;
	}
	.subscribe input[type="submit"] {
		padding: 8px 7px 9px;
		width: 44%;
	}
	.subscribe h2 {
		font-size: .9em;
	}
	.subscribe input[type="text"] {
		width: 54%;
	}
	.main {
		margin: 50px auto 43px;
	}
	.subscribe {
		margin-top: 2.5em;
	}
	.content {
		padding: 76px 0;
	}
	body {
		min-height: 484px;
	}
}

/*-- responsive media queries --*/
