/*!
 * Start Bootstrap - Thumbnail Gallery (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
#images_area {
    margin-left: 35px;
}
#images_area label {
    display: inline-block;
    height: 150px;
    position: relative;
    width: 150px;
    margin-bottom : 5px;
}
.checkbox {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
footer {
    margin: 50px 0;
}
.search_image {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
  height: 150px;
  display: block;
  object-fit: cover;
  cursor: pointer;
}
.userinfo_title {
    color: #fff;
}
.userinfo {
    position:relative;
    padding:10px 10px 10px 120px;
    min-height:50px;
    color: #fff;
}
.userinfo_name {
    color: #fff;
    font-weight:bold;
    font-size:120%;
}
.userinfo_id {
    color: #BBBBBB;
}
.userinfo_description {
    color: #fff;
}
.userinfo_description a {
    color: #fff;
}
.userinfo img {
    width: 75px;
    height: 75px;
    position:absolute;
    left:10px;
    top:10px;
}
.checkbox + img {
    border: 2px solid rgba(0, 0, 0, 0);
    transition: border 0.2s
}
.checkbox + img:hover {
    border: 2px solid #808080;
    box-sizing: border-box;
    transition: border 0.2s
}
.search_image + a {
    display: none;
}
.search_image:hover + a {
    position:absolute;
    left: 52px;
    top: 10px;
    display: block;
}
.tweet_link:hover {
    position:absolute;
    left: 52px;
    top: 10px;
    display: block;
}
.search_image + a + a {
    display: none;
}
.search_image:hover + a + a {
    position:absolute;
    left: 10px;
    top: 10px;
    display: block;
}
.image_link:hover {
    position:absolute;
    left: 10px;
    top: 10px;
    display: block;
}
.search_image + a + a + a {
    display: none;
}
.search_image:hover + a + a + a {
    position:absolute;
    left: 94px;
    top: 10px;
    display: block;
}
.download_link:hover {
    position:absolute;
    left: 94px;
    top: 10px;
    display: block;
}
.checkbox:checked + img {
    border: 2px solid #05BEF6;
    box-sizing: border-box;
}
div.images_area:after {
    content: "";
    clear: both;
    display: block;
}
.page-header {
    color: #fff;
    padding-top: 40px;
}
.select_all {
    padding-top: 5px;
    color: #fff;
}.images_all_label {
    padding-left: 5px;
}
#submit_download {
	outline: none;
    padding: 11px 20px;
    border: none;
    background: #05BEF6;
    font-size: 1em;
    color: #fff;
    margin: 1em 0 0 0em;
    cursor:pointer;
    width:30%;
}
#submit_download:hover {
	background:#F39C12;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
#loading_image {
    position: relative;
    top: 20px;
    left: 5px;
    display: none;
}