<div class="content">
    <div class="row">
        <h1>TwImaGetter</h1>
            <div class="main">
                <div class="subscribe">
                    <h2>Let's get your favorite images from Twitter</h2>
                    <br>
                    <div class="form">
                        <% flash.each do |message_type, message| %>
                            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
                        <% end %>
                        <%= image_tag('user_search_icon.png') %>
                        <label class="user_search_label">User tweet images</label>
                        <%= form_for @tweet, url: user_images_index_path, html: { method: "GET", enforce_utf8: false } do |f| %>
                            <input name="id" type="text" id="tweet_model_id" placeholder="UserId" required="">
                            <%= f.submit "UserSearch", name: nil %>
                        <% end %>
                    </div>
                    <hr>
                    <div class="form">
                        <%= form_for @tweet, url: keyword_images_index_path, html: { method: "GET", enforce_utf8: false } do |f| %>
                            <%= image_tag('keyword_search_icon.png') %>
                            <label class="keyword_search_label">Keyword search Images</label><br>
                            <input name="keyword" type="text" id="tweet_model_keyword" placeholder="Keyword" required="">
                            <%= f.submit "KeywordSearch", name: nil %>
                            <%= radio_button_tag 'result_type', 'recent', true %>
                            <label class="result_type_radio_button_label">recent</label>
                            <%= radio_button_tag 'result_type', 'popular', false %>
                            <label class="result_type_radio_button_label">popular</label>
                            <%= radio_button_tag 'result_type', 'mixed', false %>
                            <label class="result_type_radio_button_label">mixed(recent+popular)</label>
                        <% end %>
                    </div>
                </div>
            </div>
        <p class="copy_rights">&copy; 2016 Coming Soon Widget. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
    </div>
</div>