<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= !@tweet.id.blank? ? comp_commercial_at(@tweet.id) : @tweet.keyword %> | Search Result </h1>
            <% if !@tweet.id.blank? %>
                <label class="userinfo_title">User Profile</label>
                <div class="userinfo">
                    <%= link_to image_tag(@tweet.user_info["profile_image_url"]), @tweet.user_info["url"], :target => ["_blank"] %>
                    <%= link_to @tweet.user_info["name"], @tweet.user_info["url"], :target => ["_blank"], class: "userinfo_name" %>
                    <br>
                    <%= link_to (comp_commercial_at(@tweet.id)), @tweet.user_info["url"], :target => ["_blank"], class: "userinfo_id" %>
                    <br>
                    <div class="userinfo_description">
                        <%= raw Rinku.auto_link(h(@tweet.user_info["description"])) %>
                    </div>
                </div>
                <hr>
            <% end %>

            <%= form_for @tweet, url: batch_download_path, remote: true, html: { enforce_utf8: false } do |f| %>
                <%= f.hidden_field :id, value: @tweet.id %>
                <%= f.hidden_field :keyword, value: @tweet.keyword %> 
                <%= f.submit "Download",name: nil, data: { disable_with: "Now Downloading..." }, id: "submit_download", class: "btn btn-primary" %>
                <%= image_tag('loading.png', :id => "loading_image") %>
                <div class="select_all">
                    <input type="checkbox" id="images_all" name="images_all">
                    <label for="images_all" class="images_all_label">select all</label>
                    <label for="images_all" class="select_count"></label>
                </div>
                <div id="images_area">
                    <% @tweet.images.zip(@tweet.tweets_info).each do |image, tweet_info| %>
                        <label>
                            <%= f.check_box :images, { class: "checkbox", multiple: true, :checked => false, include_hidden: false }, image %>
  　                         <%= image_tag(image, :class => "search_image") %>
  　                         <%= link_to image_tag('link_icon.png'), tweet_url(tweet_info), :target => ["_blank"], :class => "tweet_link" %>
  　                         <%= link_to image_tag('new_window_icon.png'), image, :target => ["_blank"], :class => "image_link" %>
  　                         <%= link_to image_tag('download_icon.png'), individ_download_path(:image => image), :class => "download_link", :remote => true %>
                        </label>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p class="copy_rights">Copyright &copy; Your Website 2014</p>
        </div>
    </div>
</footer>
<br>
